{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                {% if user.is_authenticated %}
                    {% if unavailable %}
                        <p>That date range is unavailable, please choose another</p>
                    {% endif %}
                <h3>Make a booking:</h3>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ booking_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" value="ok" class="btn btn-signup btn-lg">Submit
                    </button>
                </form>
            
                {% else %}
                <h3>You need to sign up before you can make a booking</h3>
                <a href="{% url 'account_signup' %}">Sign Up</a>
                <a href="{% url 'account_login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}